@model SILCD.Models.DeputadoViewModel
@using SILCD.Util;

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>
        Deputados
        <small>@Constantes.TITULO_SISTEMA.ToString()</small>
    </h2>
</div>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-5">
                <img src="@Model.UrlFoto" class="img-thumbnail" style="width: 114px" />
            </div>
            <div class="detalhes-deputado col-md-10 col-sm-7" style="margin-top: -17px">
                <dl>
                    <dt><h3 class="name">@Model.Nome</h3></dt>
                    <dd><span class="area">@Model.NomeParlamentar</span></dd>
                </dl>
                <hr />
                <dl>
                    <dt>@Model.Condicao</dt>
                    <dd><small><em>condição</em></small></dd>
                    <dt>@Model.Partido</dt>
                    <dd><small><em>partido</em></small></dd>
                    <dt>@String.Format("{0:dd/MM/yyyy}",Model.DataNascimento)</dt>
                    <dd><small><em>nascimento</em></small></dd>
                    <dt>@Model.NomeProfissao</dt>
                    <dd><small><em>Profissão</em></small></dd>
                    <dt>@Model.Matricula</dt>
                    <dd><small><em>matrícula</em></small></dd>
                    <dt>@Model.Telefone</dt>
                    <dd><small><em>telefone</em></small></dd>
                    <dt>@Model.Email</dt>
                    <dd><small><em>e-mail</em></small></dd>
                    <dt>@Model.Uf</dt>
                    <dd><small><em>uf</em></small></dd>
                </dl>
                <hr />
                <div>
                    <a href="@Url.Action("Index")" class="btn btn-info">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Voltar
                    </a>
                    <a href="@Url.Action("CotaParlamentar/"+Model.IdeCadastro.ToString())" class="btn btn-primary">
                        <span class="glyphicon glyphicon-list"></span>
                        Cota Parlamentar 2014
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
