@model IEnumerable<SILCD.Models.DeputadoViewModel>
@using GridMvc.Html

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deputados</h2>
<hr />

@using (Html.BeginForm("Index", "Deputados", FormMethod.Post, new { @id = "formDetalhes", @name = "formDetalhes", @role = "form" })) {

    @Html.Grid(Model).Columns(columns => {
        columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(d =>
        @<b>
             <a class="btn btn-info" href="@Url.Action("Detalhe/" + d.IdeCadastro, "Deputados")"><span class="glyphicon glyphicon-align-justify"></span></a>
        </b>);     
        columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(d =>
        @<img src="@d.UrlFoto" class="img-circle" width="30" />
        );
        columns.Add(d => d.IdeCadastro).Titled("Id").Sortable(true).Filterable(true);
        columns.Add(d => d.Nome).Titled("Nome").Sortable(true).Filterable(true);
        columns.Add(d => d.Partido).Titled("Partido").Sortable(true).Filterable(true);
        columns.Add(d => d.Email).Titled("E-mail").Sortable(true).Filterable(true);
    }).WithPaging(5).Filterable(true).Sortable(true);

    <!-- Modal com as informações do deputado -->
    <div class="modal fade" id="modalDeputados" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Detalhes do Deputado</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <img id="imgDepuado" src="" />
                    </div>
                    <div style="float: right; margin-right:90px; margin-top:-160px;">
                        <div>
                            <label>Nome: </label>
                            @Html.Label("lblNome", new { @id = "lblNome", @class = "" })
                        </div>
                        <div>
                            <label>Nome Parlamentar: </label>
                            @Html.Label("lblNomeParlamentar", new { @class = "" })
                        </div>
                        <div>
                            <label>Matrícula: </label>
                            @Html.Label("lblMatricula", new { @class = "" })
                        </div>
                        <div>
                            <label>Partido: </label>
                            @Html.Label("lblPartido", new { @class = "" })
                        </div>
                        <div>
                            <label>Uf: </label>
                            @Html.Label("lblUf", new { @class = "" })
                        </div>
                        <div>
                            <label>Telefone: </label>
                            @Html.Label("lblTelefone", new { @class = "" })
                        </div>
                        <div>
                            <label>E-mail: </label>
                            @Html.Label("lblEmail", new { @class = "" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}

