@model IEnumerable<SILCD.Models.DeputadoViewModel>
@using GridMvc.Html

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deputados</h2>
<hr />

@using (Html.BeginForm("Index", "Deputados", FormMethod.Post, new { @id = "formDetalhes", @name = "formDetalhes", @role = "form" }))
{
    <table id="tabelaDeputados" class="table table-striped display">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdeCadastro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Partido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdeCadastro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Partido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <button class="btn btn-info" role="button" data-toggle="modal" data-target="#modalDeputados" title="Ver detalhes" onclick="setarDadosDeputado('@item.UrlFoto', '@item.Nome', '@item.NomeParlamentar', '@item.Matricula', '@item.Partido', '@item.Uf', '@item.Telefone', '@item.Email');"><span class="glyphicon glyphicon-align-justify"></span></button>
                        @*<a href="@Url.Action("Detalhes/"+item.IdeCadastro.ToString())" class="btn btn-info" title="Ver detalhes"><span class="glyphicon glyphicon-align-justify"></span></a>*@
                    </td>
                </tr>

            }
        </tbody>

    </table>

    <!-- Modal com as informações do deputado -->
    <div class="modal fade" id="modalDeputados" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Detalhes do Deputado</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <img id="imgDepuado" src="" />
                    </div>
                    <div>
                        <div>
                            <label>Nome: </label>
                            @Html.TextBox("txtNomeParlamentar", null, new { @class = "disabled" })
                        </div>
                        <div>
                            <label>Nome Parlamentar: </label>
                            @Html.Label("lblNomeParlamentar", new { @class = "" })
                        </div>
                        <div>
                            <label>Matrícula: </label>
                            @Html.Label("lblMatricula", new { @class = "" })
                        </div>
                        <div>
                            <label>Partido: </label>
                            @Html.Label("lblPartido", new { @class = "" })
                        </div>
                        <div>
                            <label>Uf: </label>
                            @Html.Label("lblUf", new { @class = "" })
                        </div>
                        <div>
                            <label>Telefone: </label>
                            @Html.Label("lblTelefone", new { @class = "" })
                        </div>
                        <div>
                            <label>E-mail: </label>
                            @Html.Label("lblEmail", new { @class = "" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}

<link href="~/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
<script src="~/DataTables/js/jquery.dataTables.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tabelaDeputados').DataTable();
    });

    // Função que seta o valor das informações do deputado
    function setarDadosDeputado(urlImagem, nome, nomeParlamentar, matricula, partido, uf, telefone, email) {
        $(".modal-body #imgDepuado").attr("src", urlImagem);
        $(".modal-body #txtNomeParlamentar").attr("val", nome);
        $(".modal-body #lblNomeParlamentar").attr("text", nomeParlamentar);
        $(".modal-body #lblMatricula").attr("text", matricula);
        $(".modal-body #lblPartido").attr("text", partido);
        $(".modal-body #lblUf").attr("text", uf);
        $(".modal-body #lblTelefone").attr("text", telefone);
        $(".modal-body #lblEmail").attr("text", email);
    }
</script>
