@model IEnumerable<SILCD.Models.DeputadoViewModel>
@using GridMvc.Html

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deputados</h2>
<hr />

@using (Html.BeginForm("Index", "Deputados", FormMethod.Post, new { @id = "formDetalhes", @name = "formDetalhes", @role = "form" })) {
    <table id="tabelaDeputados" class="table table-striped display">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Matricula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Condicao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeParlamentar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Uf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Partido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matricula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Condicao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeParlamentar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sexo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Uf)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Partido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <button class="btn btn-info" role="button" data-toggle="modal" data-target="#modalDeputados" title="Ver detalhes" onclick="setarDadosDeputado('@item.UrlFoto');"><span class="glyphicon glyphicon-align-justify"></span></button>
                    </td>
                </tr>

            }
        </tbody>

    </table>

    <!-- Modal com as informações do deputado -->
    <div class="modal fade" id="modalDeputados" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Detalhes do Deputado</h4>
                </div>
                <div class="modal-body">
                    <img id="imgDepuado" src="" />
                    <div>
                        @Html.Label("lblNome", new { @class = "" })
                        @Html.Label("lblNomeParlamentar", new { @class = "" })
                        @Html.Label("lblNome", new { @class = "" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}

<link href="~/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
<script src="~/DataTables/js/jquery.dataTables.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tabelaDeputados').DataTable();
    });

    // Função que seta o valor das informações do deputado
    function setarDadosDeputado(urlImagem) {
        $(".modal-body #imgDepuado").attr("src", urlImagem);
    }
</script>
