@model IEnumerable<SILCD.Models.DeputadoViewModel>
@using GridMvc.Html

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deputados</h2>
<hr />

@using (Html.BeginForm("Index", "Deputados", FormMethod.Post, new { @id = "formDetalhes", @name = "formDetalhes", @role = "form" })) {

    <div class="row">
        <div class="form-group col-xs-6">
            <label for="txtPesquisa">Pesquisar</label>
            @Html.TextBox("txtPesquisa", null, new { @class = "form-control", @placeholder = "refine a lista" })
        </div>
    </div>

    if (Model != null) {
        @Html.Grid(Model).Columns(columns => {
       columns.Add(d => d.Matricula).Titled("Matrícula").Filterable(true);
       columns.Add(d => d.Condicao).Titled("Condição").Filterable(true);
       columns.Add(d => d.Nome).Filterable(true);
       columns.Add(d => d.NomeParlamentar).Titled("Nome Parlamentar").Filterable(true);
       columns.Add(d => d.Sexo).Filterable(true);
       columns.Add(d => d.Uf).Filterable(true);
       columns.Add(d => d.Partido).Filterable(true);
       columns.Add(d => d.Telefone).Filterable(true);
       columns.Add(d => d.Email).Titled("E-mail").Filterable(true);
       columns.Add()
           .Encoded(false)
           .Sanitized(false)
           .SetWidth(30)
           .RenderValueAs(d => "<button class=\"btn btn-info\" role=\"button\" data-toggle=\"modal\" data-target=\"#modalDeputados\" title=\"Ver detalhes\" onclick=\"setarDadosDeputado('" + d.UrlFoto + "');\"><span class=\"glyphicon glyphicon-align-justify\"></span></button>");
   }).WithPaging(5).Filterable(true).Sortable(true);
    } else {
        @Html.Partial("~/Views/Shared/_NoRecordsFound.cshtml")
    }

    <!-- Modal com as informações do deputado -->
    <div class="modal fade" id="modalDeputados" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Detalhes do Deputado</h4>
                </div>
                <div class="modal-body">
                    <img id="imgDepuado" src="" />
                    <div>
                        @Html.Label("lblNome", new { @class = "" })
                        @Html.Label("lblNomeParlamentar", new { @class = "" })
                        @Html.Label("lblNome", new { @class = "" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
    });

    // Função que seta o valor das informações do deputado
    function setarDadosDeputado(urlImagem) {
        $(".modal-body #imgDepuado").attr("src", urlImagem);
    }

    function setarDadosDeputado(objeto) {

        $(".modal-body #imgDepuado").attr("src", urlImagem);
    }
</script>